
.wrapper {
  .category-filter {
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  .products-wrapper {
    .filters{
      cursor: pointer;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      .sorter {
        justify-self: flex-end;
        .price-sorter{
          transform: rotate(90deg);
        }
      }
    }
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}

@media all and (max-width: 978px) {
  .wrapper {
    .category-filter {
      display: none;
    }
    .products-wrapper {
      .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }
    }
  }
}

@media all and (max-width: 578px) {
  .wrapper {
    .category-filter {
      display: none;
    }
    .products-wrapper {
      .items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}