<div class='checkout-item'>
    <div class='image-container'>
        <img src='{{product?.imagePath}}' alt='item' />
    </div>
    <span class='name'> {{ product?.name }} </span>
    <span class='quantity'>
        <div class='arrow' (click)='removeItem(product)'>&#10094;</div>
        <span class='value'>{{ product?.quantity }}</span>
        <div class='arrow' (click)='addItem(product)'>&#10095;</div>
    </span>
    <span class='price'>{{ product?.price }}</span>
    <div class='remove-button' (click)='clearItem(product)'>
        &#10005;
    </div>
</div>
