<div nz-row nzJustify='space-between' nzAlign='middle' class='wrapper'>
    <div nz-col [nzXs]='{span: 22}' [nzLg]='{span: 6}' class='col1'>
        <h3>Nexa Pharmacy</h3>
        <h2>888-000-333</h2>
        <p>224 Random Address</p>
        <p>City</p>
    </div>
    <div nz-col [nzXs]='{span: 22}' [nzLg]='{span: 6}' class='col2'>
        <ul>
            <li>Home</li>
            <li>My Account</li>
            <li>Cart</li>
        </ul>
    </div>
    <div nz-col [nzXs]='{span: 22}' [nzLg]='{span: 6}' class='col3'>
        <ul>
            <li>Privacy Policy</li>
            <li>Shipping Options</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
</div>
<div nz-row class='bottom'>
    <div nz-col [nzXs]='{span: 22}' [nzLg]='{span: 6}' class='bot1'>
        <h4>&copy; 2020 Build</h4>
    </div>
</div>